version: "3"
services:
  dbIncidenciasNest:
      image: postgres:14.3
      restart: always
      ports:
        - "${DBIN_PORT}:5432"
      environment:
        POSTGRES_USER: ${DBIN_USER}
        POSTGRES_PASSWORD: ${DBIN_PASSWORD}
        POSTGRES_DB: ${DBIN_NAME}
      container_name: dbIncidenciasNest
      volumes:
        - ./postgresIncidenciasNest:/var/lib/postgresql/data
      networks: 
          net_postgres-nest:
              ipv4_address: 172.180.10.3
  Apijmvpnest:
    container_name: Apijmvpnest
    image: apijmvpnest
    build: 
      context: ${DIR_DFILES}/ubuntu/postgres-nest
      dockerfile: ./jmvpDockerfile
      args: 
       - USUARIO=${USUARIO}
       - TZ=${TZ}
       - PASSWD=${PASSWD}
       - REPO_GITHUB=${REPO_GITHUB}
       - URL_GITHUB=${URL_GITHUB}
    env_file: 
      - ./.env
    ports: 
      - ${WWW_PORT}:3000
    volumes:
      - ./wwwIncidenciasNest:/var/www/html
    networks: 
      net_postgres-nest:
          ipv4_address: 172.180.10.4
    depends_on:
      - dbIncidenciasNest
networks: 
  net_postgres-nest:
      ipam: 
          driver: default
          config: 
              - subnet: 172.180.10.0/24